@import "tailwindcss";

@theme {
  --font-sans: "Geist Variable", "Geist", system-ui, -apple-system, sans-serif;

  --color-bg-primary: #22252b;
  --color-bg-secondary: #292c34;
}

:root {
  letter-spacing: 0.18px;
  color-scheme: dark;
  background: var(--color-bg-primary);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
